Notes:
- We use ethers v6
- We use wagmi v2 and tanstack react query
- We use Solidity >8.0 with built-in overflow checks, so we don't need SafeMath
- We do 'from "../types"' instead of 'from "../typechain-types"'

Let us know of any confusions, request for extra information, clarifications. Be careful. Thank you! :)